@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* shered style start*/
/* color */
.dark-1{
    color: rgba(19, 19, 19, 1);
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.font-s-w{
    font-size: 40px;
font-weight: bold;
}
.display-flex{
    display: flex;
}
/* shered style end*/

/* header part start */

/* ................. */
/* nav part start */
header{
 background-color:rgba(255, 144, 14, 0.1);
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
}
#navbar .brand-name{
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-all-items{
    align-items: center;
    
}
#navbar .nav-all-items .nav-list{
    list-style: none;
}
#navbar .nav-all-items .nav-list a{
    text-decoration: none;
    margin-right: 45px;
    margin-left: 70px;
    color: #424242;
    font-size: 1.4rem;
    font-weight: 500;
}

/* nav part end */
/* ............... */

/* header text and image part start*/
#total-header-banner-and-img{
    max-width: 1440px;
    margin: 0 auto;
}
.header-tittle{
    margin-top: 90px;
    font-size: 4rem;
}

.header-img{
    width: 100%;
}
   

.btn{
    color: white;
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    border-radius: 5px;
    margin-bottom: 45px;
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
}


/* header text and image part end*/
/* .............................. */
/* header part end */


